@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');



.recommend-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;

  width: 100%;
  height: 100vh;
  font-family: "Apple SD Gothic Neo", "맑은 고딕", sans-serif;
}

/* 감정 아이콘 섹션 */
.emotion-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.emotion-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.emotion-text {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  font-family: 'Unica One', sans-serif;
}

/* 추천 콘텐츠 섹션 */
.content-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  max-width: 500px;
}

.category {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
}

.category-title {
  font-family: 'Unica One', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

.category-title .musicpink {
  color: #FECDCB;
  font-family: 'Unica One', sans-serif;

}

.category-title .moviegreen {
  color: #A8D7B8;
  font-family: 'Unica One', sans-serif;

}

.category-title .bookblue {
  color: #7088A6;
  font-family: 'Unica One', sans-serif;

}

ol {
  list-style-type: decimal;
  padding-left: 20px;
  color: #333;
}

li {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 5px;
}

/* 버튼 섹션 */
.button-section {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 20px;
}

.back-button, .calendar-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button {
  background-color: #ffffff;
  color: black;
}

.back-button:hover {
  background-color: #c3c3c3;
}

.calendar-button {
  background-color: #ffffff;
  color: black;
}

.calendar-button:hover {
  background-color: #c3c3c3;
}
