@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.container {
  height: 600px;
  justify-content: center;
  margin-top: 50px;
}

.home-stc {
  font-family: 'Unica One', sans-serif; /* Unica One 폰트 적용 */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin: 20px;
}

.emotion {
  text-align: center;
  cursor: pointer;
  position: relative; /* 위치 고정 */
  transform: none; /* 아이콘 이동 방지 */
}

.emotion img {
  width: 80px; /* 이미지 크기 설정 */
  height: 80px;
  transition: transform 0.2s ease-in-out; /* 선택 효과 전환 */
}

.emo-title {
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  font-family: 'Unica One', sans-serif; /* 폰트 적용 */
}

button {
  margin: 10px;
}

h3 {
  color: black; /* 텍스트 색상 확인 */
  font-size: 24px; /* 글자 크기 설정 */
  margin-bottom: 20px; /* 아래쪽 여백 설정 */
}

p {
  color: black;
  font-size: 15px;
}

.select_btn {
  margin-top: 4px;
  border-radius: 12px;
  width: 120px;
  height: 30px;
  line-height: 24px;
  color: black;
  font-size: 12px;
  font-weight: bold;
  background-color: #ffffff;
  cursor: pointer;
}

.emotion, .emotion img {
  text-align: center;
  cursor: pointer; 
}

.emotion img {
  width: 80px; 
  height: 80px;
}
